@import "~@angular/material/theming";
@import "../variables";
@import "html-dialog/html-dialog-theme";
@import "../../dialogs/form-dialog/form-dialog-theme";

@mixin dialogs-theme($theme) {
  $primary : map-get($theme, primary);
  $accent  : map-get($theme, accent);
  $warn    : map-get($theme, warn);

  @include html-dialog-theme($theme);
  @include form-dialog-theme($theme);
}
