<div fxLayout="row wrap" class="hotelInfoPad">
  <div fxFlex="70">
    <h1 style="margin: 0px">{{(hotelInfo$ | async)?.HOTELNAME}}</h1>
    <div  class="hotel-detail-info-stars">
      <ng-container *ngIf="(hotelInfo$ | async)?.Stars">
        <mat-icon *ngFor="let star of [].constructor((hotelInfo$ | async)?.Stars)">stars</mat-icon>
      </ng-container>
    </div>

    <div class="hotel-detail-info-addres">{{(hotelInfo$ | async)?.ADDRESS}}</div>
  </div>
  <div fxFlex="30">
    
    <div
      class="showMap ng-star-inserted"
      style="
        width: 100%;
        height: auto;
        border: solid 4px #fdf4cc;
        position: relative;
      "
    >
      <img
      (click)="showMap()"
        src="https://erspublic.blob.core.windows.net/test/16e63eaa-17ae-1906-8552-e2932b0e8000.png"
        style="width: inherit; height: 100%"
      /><span class="map-detail-city ng-star-inserted" style="top: 66px">
        {{(this.hotelInfo$ | async)?.HOTELNAME}} {{'LBL_SHOW_MAP' | translate | async}}</span
      ><!---->
    </div>
  </div>

  <div fxFlex="100" class="hotel-contact">
    <div>
      <a target="_blank" href="mailto:{{(hotelInfo$ | async)?.EMAIL}}"
        ><mat-icon>email</mat-icon>
        <span>{{(hotelInfo$ | async)?.EMAIL}}</span>
      </a>
    </div>

    <div>
      <a href="tel:{{(hotelInfo$ | async)?.Phone}}"
        ><mat-icon>phone</mat-icon>
        <span>{{(hotelInfo$ | async)?.Phone}}</span>
      </a>
    </div>

    <div>
      <a target="_blank" href="{{(hotelInfo$ | async)?.Web}}" class="ng-star-inserted"
        ><mat-icon>link</mat-icon>
        <span>{{(hotelInfo$ | async)?.Web}}</span>
      </a>
    </div>
  </div>

  <div fxFlex="100" class="hotel-detail-info-defaulte-facility">
    <div *ngIf="(hotelInfo$ | async).PayAtHotel === true" class="item">
      <mat-icon>done_all</mat-icon
      ><span _ngcontent-xup-c189="" class="ng-star-inserted">{{'LBL_PAYAT_HOTEL' | translate | async}}</span>
    </div>
    <div *ngIf="(hotelInfo$ | async).MinLOS">
      <mat-icon>done_all</mat-icon>
      {{'LBL_MIN_LOS' | translate :[{minLos: (hotelInfo$ | async).MinLOS}] | async}}
    </div>
    <div *ngIf="(hotelInfo$ | async).MinDaysToCheckIn">
      <mat-icon>done_all</mat-icon>
      {{'LBL_MINDAYS_TO_CHECKIN' | translate :[{minDaysToCin: (hotelInfo$ | async).MinDaysToCheckIn}] | async}}
    </div>
    <div *ngIf="(hotelInfo$ | async).DownPaymentPercent" class="item">
      <mat-icon>done_all</mat-icon
      ><span _ngcontent-xup-c189="" class="ng-star-inserted">{{'LBL_DOWN_PAYMENT_PERCENT' | translate :[{percent: (hotelInfo$ | async)?.DownPaymentPercent}]|async}}</span>
    </div>
  </div>

  <div fxFlex="100" [innerHTML]="(hotelInfo$ | async)?.Description">    
         
  </div>
</div>
