<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  <span style="color: white; font-size: 24px; padding-top: 10px;">{{'LBL_LOADING' | translate | async}}</span>
  <ng-container *ngIf="(message | async) || (messages | async)">
    <span style="color: white; font-size: 24px;">{{message | async}}</span>
    <ng-container *ngFor="let msg of messages | async">
      <span style="color: white; font-size: 24px;">{{msg}}</span>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="cancel">
    <button mat-raised-button color="warn" (click)="cancel.next()">{{'BTN_GIVEUP'|translate|async}}</button>
  </ng-container>

</div>