:host {
  width: 100%;
  display: inline-block;
}

.app-lookup {
  width: 100%;
  min-width: 80px;

  button.mat-icon-button {
    display: inline-block;
  }
}

mat-option.mat-option.app-lookup-options {
  border-bottom: 1px solid rgba(217, 220, 222, 0.33);
  &:hover:not(.mat-option-disabled),
  &:focus:not(.mat-option-disabled),
  &.mat-active,
  &.mat-selected {
    font-weight: bold;
  }
  &.mat-selected {
    font-weight: bold;
  }
}

.spinner {
  display: inline-flex !important;
}

.gSpinner {
  position: absolute;
  right: 3px;
  top: 3px;
}
