<app-header></app-header>
<router-outlet></router-outlet>
<div class="container">
  <div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="mat-elevation-z3 hotel-detail-info hotelItem">
      <div fxFlex="50" fxFlex.xs="100">
        <app-hotelphoto></app-hotelphoto>
      </div>
      <div fxFlex="50" fxFlex.xs="100">
        <app-hotelinfo></app-hotelinfo>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" class="mat-elevation-z3 hotel-detail-info hotelItem">
      <div fxFlex="100">
        <app-searchbox></app-searchbox>
      </div>
    </div>

    <div style="transition: all 1s" fxLayout="row wrap" fxLayoutAlign="space-between" class="hotel-detail-info mt-15">
      <div [fxFlex]="(basketService.basket$|async)?.ItemCount>0?66:100" fxFlex.xs="100" fxFlex.sm="100"
        class="mat-elevation-z3">
        <app-rooms></app-rooms>
        <ng-container *ngIf="(basketService.basket$|async)?.ItemCount>0">
          <app-extras></app-extras>
          <form [formGroup]="formGroup">
            <app-contact formControlName="Contact"></app-contact>
            <app-guests formControlName="Guest"></app-guests>
            <app-payment></app-payment>
          </form>
          <button (click)="completeRes()" mat-raised-button [disabled]="formGroup.invalid">Complete</button>
        </ng-container>
      </div>

      <div [fxFlex]="(basketService.basket$|async)?.ItemCount>0?33:0" fxFlex.xs="100" fxFlex.sm="100"
        class="mat-elevation-z3 hotelItem m0" style="height: fit-content;">
        <app-basket *ngIf="(basketService.basket$|async)?.ItemCount>0"></app-basket>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class="mt-15">
      <div fxFlex="100">
        <app-facilitys></app-facilitys>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- <pre><p>HotelConfig$</p>{{apiService.hotelConfig$|async|json}}</pre>
<pre><p>Rooms$</p>{{apiService.rooms$|async|json}}</pre> -->

<ng-template #completeTpl let-data>
  {{data|json}}
</ng-template>