<mat-form-field style="width: 100%;" [appearance]="mode" [color]="color" class="ta-core-datepicker"  >
  <mat-label *ngIf="label !== undefined"> {{label}}</mat-label>
  <input matInput [matDatepicker]="picker" [matDatepickerFilter]="arrowfilter" [formControl]="control"
  [min]="minDate | async" [max]="maxDate | async" >
  <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [startView]="startView" #picker></mat-datepicker>
  <mat-hint *ngIf="hint">{{hint}}</mat-hint>
</mat-form-field>
