<ng-container *ngIf="isCC | async">
  <div style="display:flex;flex-direction: column;align-items:center;">
    <h2>{{'LBL_REDIRECT_TO_BANK' | translate | async}}</h2>
    <mat-spinner style="width: 100%; height: 100%"></mat-spinner>
    <h4>{{'LBL_PLEASE_WAIT' | translate | async}}</h4>
  </div>
</ng-container>
<div [class.cc]="isCC | async">
  <ng-container #container></ng-container>
</div>
<ng-template #template let-html>
  <div class="html-dialog-container">
    <button *ngIf="!(isCC | async)" mat-icon-button mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
    <div style="white-space: pre-wrap; max-height: 80vh; overflow: auto;" [innerHTML]="html"
      [taCoreRunScripts]="!!html"></div>
  </div>
</ng-template>