<!-- <div style="white-space: pre;">
  {{roomList$ | async | json}}
</div> -->

<!-- <ng-container *ngIf="roomsByGroup.length>0">
  <ng-container *ngFor="let item of roomsByGroup">    
      {{item[0]?.RoomType}}
      <ng-container *ngFor="let room of item">
        <div>{{room?.BoardType}}</div>
      </ng-container>
  </ng-container>
</ng-container> -->
<div *ngIf="rooms.length>0">
  <button (click)="search()">ara</button>
  <ng-container *ngFor="let rooms of [].constructor(room.length);index as i">
    <div fxLayout="row wrap" class="hotelItem m10">
      <div fxFlex="25" fxFlex.xs="100" fxFlex.md="100" style="position: relative" class="hotel-image">
        <img class="w100 hotelphoto" [src]="room[1][i]?.image"/>
        <div class="room-type-info-image-bottom-cont">
          <div>
            Max <i *ngFor="let adult of [].constructor(room[1][i]?.maxAdult); index as i"
              class="fas fa-male"></i>
          </div>
        </div>
      </div>
      <div fxFlex="75" fxFlex.xs="100" fxFlex.md="100">
        <div class="rooms-area">
          <h2 class="m0">{{ room[1][i]?.name }}</h2>
          <p>
            {{room[1][i]?.description}}
          </p>
          <div class="room-amenities">
            <i class="fab fa-keycdn" matTooltip="Wifi" *ngIf="room[1][i]?.wifi"></i>
            <i class="fab fa-keycdn" matTooltip="Balcony" *ngIf="room[1][i]?.balcony"></i>
            <i class="fab fa-keycdn" matTooltip="HairDryer" *ngIf="room[1][i]?.hairDryer"></i>
            <i class="fab fa-keycdn" matTooltip="Bath" *ngIf="room[1][i]?.privateBath"></i>

            <div style="
              color: #000;
              font-weight: 500;
              padding: 9px !important;
              font-size: 14px;
              cursor: pointer;
            ">
              <i class="fas fa-search-plus"></i><span style="text-decoration: underline; padding-left: 5px">{{'LBL_CONTINUESHOW' | translate | async}}</span>
            </div>
          </div>
        </div>
      </div>

      <mat-tab-group class="hotelItem w100">
        <ng-container *ngFor="let room of [].constructor(room[1][i]?.boardTypes.length);index as k">
          <mat-tab label="{{roomsByGroup[i][k]?.BoardType}}">
            <ng-container *ngFor="let room of [].constructor(roomsCancelByGroup.length);index as j">
              <div fxLayout="row wrap" class="align-center" style="padding: 15px 0px;">
                <div class="roomItem" fxFlex="40" fxFlex.xs="50" fxFlex.md="48">
                  <div class="room-properties">
                    <div>
                      <button style="border: none" color="primary" mat-stroked-button>
                        <mat-icon>info</mat-icon>
                      </button>
                    </div>
                    <div class="infoItem">{{roomsByGroup[i][k]?.BoardType}} {{roomsByGroup[i][k]?.RateType}} {{roomsByGroup[i][k]?.RoomType}}</div>
                  </div>
                </div>
                
                <div class="roomItem" fxFlex="18 " fxFlex.xs="50" fxFlex.md="38">
                  <div class="room-price">
                    <div class="default-price">
                      <span class="price"
                        style="text-decoration: line-through">{{roomsByGroup[i][k]?.Price}}</span>
                      <div class="price-inline">
                        <span style="text-decoration: line-through">.00</span><span *ngIf="roomsByGroup[i][k]?.Currency;else default"
                          style="text-decoration: line-through">{{roomsByGroup[i][k]?.Currency}}</span>
                          <ng-template #default
                          style="text-decoration: line-through">{{(this.apiService.hotelConfig$ | async)?.DEFAULTCURRENCY}}</ng-template>                          
                      </div>
                    </div>

                    <div class="default-price finalPrice">
                      <span class="price">{{roomsByGroup[i][k]?.Price}}</span>
                      <div class="price-inline">
                        <span>.00</span><span style="text-decoration: line-through">.00</span><span *ngIf="roomsByGroup[i][k]?.Currency;else default"
                        style="text-decoration: line-through">{{roomsByGroup[i][k]?.Currency}}</span>
                        <ng-template #default
                        style="text-decoration: line-through">{{(this.apiService.hotelConfig$ | async)?.DEFAULTCURRENCY}}</ng-template> 
                      </div>
                    </div>
                  </div>
                </div>
              

                <div class="roomItem" fxFlex="10" fxFlex.xs="100" fxFlex.md="9">
                  <div class="price-percent">%10</div>
                </div>

                <div class="roomItem" fxFlex="14" fxFlex.xs="50" fxFlex.md="48">
                  <mat-form-field appearance="outline" class="w100 roomCount">
                    <mat-label>{{'LBL_ROOMCOUNT' | translate | async}}</mat-label>
                    <mat-select [value]="0">
                      <mat-option [value]="i" *ngFor="let count of [1, 2, 3, 4, 5, 6]; index as i">
                        {{ i + 1 }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="roomItem" fxFlex="12" fxFlex.xs="50" fxFlex.md="48"
                  style="margin: auto; text-align: center">
                  <button mat-raised-button color="accent" (click)="onSelectRoom()">
                    {{'BTN_BUY' | translate | async}}
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </ng-container>
</div>